<% if !@offerings.empty? %>
<h1>Offerings Received (Year-To-Date)</h1>
<%= line_chart Offering.group_by_day(:created_at).count %>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Date</td>
			<td>Amount</td>
			<td>For</td>
			<td>Donor</td>
			<td>Thank Them!</td>
		</tr>
	</thead>
	
	<% @offerings.each do |o| %>
	<tr>
		<td><%= o.created_at.strftime("%m/%d/%Y") %></td>
		<td><%= o.normalized_amount %></td>
		<td><%= o.target %></td>
		<% if o.uid && o.uid != "9999" %>
			<% if User.find_by(id: o.uid) %>
				<td><%= User.find(o.uid).fullname %></td>
			<% else %>
				<td>User No Longer Active</td>
			<% end %>
		<% else %>
			<% @guest = true %>
			<td>Guest</td>
		<% end %>
		<td>
			<% if o.acknowledge %>
				Note Sent
			<% else %>
				
					
				   <% if !@guest %>
					<%=link_to 'Send Thank You',thankyou_url(uid: o.uid, amount: o.normalized_amount, oid: o.id) %>
					<% end %>
			
			<% end %>
		</td>
	</tr>
	<% end %>
	
</table>
<% else %>
	<h1 class="text-red-800 mb-5"><i class="far fa-times-circle"></i> No records found.</h1>
	<h3 class="mb-12">You do not have any recorded online donations.</h3>
	<% end %>

<% if @offerings.count > 1 %>
	<div>
		<%= link_to "Next Page", offerings_path(page: @page + 1) %>
	|
	<%= link_to "Last Page", offerings_path(page: @page - 1) %>
	</div>
<% end %>

