<div class="mx-5">
<%= simple_form_for @inventory, {:class => 'table table-striped'}  do |f| %>
  <div>
    <div>
      <div>

      </div>
      <div class="mt-6 sm:mt-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="username" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
            Item
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg flex rounded-md shadow-sm">
             
                <%= f.text_field :item ,
                                    label: 'Item' , 
                                    required: true,
                                    placeholder: 'Laptop', 
                                    class: "flex-1 form-input block w-full min-w-0 rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
            </div>
          </div>
        </div>

       

        <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="about" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
            Serial Number
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg flex rounded-md shadow-sm">
                <%= f.text_field :serial_number ,
                                label: 'Serial Number', 
                                required: true, 
                                placeholder: '123456789',
                                class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
              
            </div>
            <p class="mt-2 text-sm text-gray-500">Most devices and warranties are tracked by this.</p>
          </div>
        </div>
       
    <div class="mt-8 border-t border-gray-200 pt-8 sm:mt-5 sm:pt-10">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Additional Information
        </h3>
        <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
          Be sure to be accurate. When you are no longer using the item, uncheck the ACTIVE box.
        </p>
      </div>
      <div class="mt-6 sm:mt-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
            Location
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg rounded-md shadow-sm sm:max-w-xs">
              <%= f.text_field :location ,
                                label: 'Location', 
                                required: true,
                                placeholder: 'Sanctuary',
                                class: "form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
              
            </div>
          </div>
        </div>
        <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="last_name" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
            Warranty Ends
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg rounded-md shadow-sm sm:max-w-xs">
              <%= f.date_field :warranty_ends ,
                                label: 'Warranty Ends', 
                                required: true,
                                class: "form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
            </div>
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="username" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
            Active
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <div class="max-w-lg flex rounded-md shadow-sm">
             
                <%= f.check_box :active, 
                                label: 'Item Active?',
                                class: "form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" %>
            </div>
          </div>
        </div>

  <div class="mt-8 border-t border-gray-200 pt-5">
    <div class="flex justify-end">
    
      <span class="ml-3 inline-flex rounded-md shadow-sm">
        <%= f.button :submit,
                        class: "inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" %>

        
          
      </span>
    </div>
  </div>
<% end %>
</div>
