
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            
  <div class="form-inputs bg-white p-4">
  <%= f.input :description,
                required: true,
                autofocus: true,
                placeholder: 'My Event',
                class: "mr-4 bg-green" %>
  <%= f.input :cost,
                required: true,
                autofocus: true,
                placeholder: 'Free or $10'%>
  <%= f.input :estart,
              label: 'Event Date and Time ',
              required: true,
              autofocus: true %>  
  </div>

  <div class="form-actions bg-white">
    <%= f.button :submit %>
  </div>
<% end %>
