
<%= simple_form_for(@request) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs bg-white">
    <%= f.input :who,
                required: true,
                autofocus: true,
                placeholder: 'Sally Fenton'%>
    <%= f.input :reason ,
                required: true,
                autofocus: true,
                placeholder: 'Fall'%>
    <%= f.input :call_back ,
                required: false,
                autofocus: true %>
    <%= f.input :visit ,
                required: false,
                autofocus: true %>
    <%= f.input :email ,
                required: true,
                autofocus: true,
                placeholder: 'bob@example.com'%>
    <%= f.input :phone ,
                required: false,
                autofocus: true,
                placeholder: '508-888-5555'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
