<p id="notice"><%= notice %></p>
<% if @requests.count > 0 %>
<h1 class="text-xl text-black">Prayer Requests</h1>
<span class="text-lg text-black">When complete, click icon under tools to remove.</span><br>
<div class="text-lg text-blue-800">
  <%= link_to 'Send to Prayer Chain', '/PrayerChainEmail', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
</div>

<div class="table table-bordered text-center bg-white" id="requests">
  <table>
  <thead>
    <tr>
      <th>Who</th>
      <th>Reason</th>
      <th>Call back</th>
      <th>Visit</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Tools</th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.who %></td>
        <td><%= request.reason %></td>
        <td>
          <% if request.call_back %>
          <i class="far fa-check-circle"></i>
            <% else %>
            No
          <% end %>  
        </td>
        <td>
          <% if request.visit %>
            <i class="far fa-check-circle"></i>
            <% else %>
            No
          <% end %>
        </td>
        <td>
          <% if request.email %>
          <%= request.email %>
            <% else %>
            No Email Provided
          <% end %>
        </td>
        <td><%= request.phone %></td>
        <td><%= link_to '<i class="fas fa-clipboard-check"></i>'.html_safe, request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% else %>
  <div class="text-xl text-blue-800">No prayer requests to view.</div>
<% end %>

