<p id="notice"><%= notice %></p>

<p>
  <strong>Who:</strong>
  <%= @request.who %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @request.reason %>
</p>

<p>
  <strong>Call back:</strong>
  <%= @request.call_back %>
</p>

<p>
  <strong>Visit:</strong>
  <%= @request.visit %>
</p>

<p>
  <strong>Email:</strong>
  <%= @request.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @request.phone %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
