  
  <div class="jumbotron jumbotron-fluid text-center opacity-80 rounded">
    <% if !@church.nil? %>
      <% if @church.name && @church.address && @church.city && @church.state && @church.zip && @church.pastor %>
        <p>
          <h1 class="font-extrabold text-blue-600">Your Virtual Church Connection To:</h1>
          <%= @church.name %><br>
          <%= @church.address %><br>
          <%=@church.city %>, <%=@church.state%> <%=@church.zip%>&nbsp;
        </p>
        <span class="font-bold italic">Your Pastor:</span> <%=@church.pastor %>
        <% if @demosite %>
          <div>
            <span class="text-green-800 mt-4 mb-4"><%= @democreds %></span>
          </div>
        <% end %>
        <%= @church.social_links.html_safe()%>
        
        <% else %>
        <h1 class="font-extrabold text-blue-600">Please SIGN-UP to complete configuration</h1>
        <p class="text-2xl">
          <span class="text-red-800">Re</span>Think. <span class="text-red-800">Re</span>Imagine. <span class="text-red-800">Re</span>Vitalize.<br>
          Your Virtual Church Connection
        </p>
        <% end %>
        <% else %>
        <h1 class="font-extrabold text-blue-600">Please SIGN-UP to complete configuration</h1>
         <p class="text-2xl">
          <span class="text-red-800">Re</span>Think. <span class="text-red-800">Re</span>Imagine. <span class="text-red-800">Re</span>Vitalize.<br>
          <span class="mt-2">Your Virtual Church Connection</span>
        </p>
      <% end %>
       
       <hr class="my-4">


  <div>
  <% if current_user && (current_user.admin || current_user.finance) %>
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    CHURCH STATISTICS
  </h3>
  <div class="mt-5 grid grid-cols-1 rounded-lg bg-white overflow-hidden shadow md:grid-cols-3 mb-4">
    <div>
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-base leading-6 font-normal text-gray-900">
            <i class="fas fa-users"></i> Total Users
          </dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl leading-8 font-semibold text-indigo-600">
              <%= user_count %>
              <span class="ml-2 text-sm leading-5 font-medium text-gray-500">
                from <%= users_last_week %>
              </span>
            </div>
          <% if difference(users_last_week,user_count).to_i > 1 %>
              <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium leading-5 bg-green-100 text-green-800 md:mt-2 lg:mt-0">
                <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-green-500" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">
                  Increased by
                </span>
              <% else %>
                <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium leading-5 bg-red-100 text-red-800 md:mt-2 lg:mt-0">
                <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">
                  Decreased by
                </span>
              <% end %>
              <%= difference(users_last_week,user_count) %>%
            </div>
          </dd>
          <dd class="text-gray-300 mt-2">
            Number of parishioners who have accounts in your Virtual Church.
          </dd>
        </dl>
      </div>
    </div>
    <% if @church %>
        <% if !@church.custom_tithing %>
    <div class="border-t border-gray-200 md:border-0 md:border-l">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-base leading-6 font-normal text-gray-900">
            <i class="fas fa-hand-holding-usd"></i> Online Giving
          </dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl leading-8 font-semibold text-indigo-600">
              $<%= @offeringsToday.round(2) %>
              <span class="ml-2 text-sm leading-5 font-medium text-gray-500">
                from $<%= giving_last_week %>
              </span>
            </div>

            <% if difference(giving_last_week,@offeringsToday).to_i > 1 %>
              <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium leading-5 bg-green-100 text-green-800 md:mt-2 lg:mt-0">
                <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-green-500" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">
                  Increased by
                </span>
              <% else %>
                <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium leading-5 bg-red-100 text-red-800 md:mt-2 lg:mt-0">
                <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">
                  Decreased by
                </span>
              <% end %>



              <%= difference(giving_last_week,@offeringsToday) %>%
            </div>
          </dd>
           <dd class="text-gray-300 mt-2">
            Online giving this week compared to last week.
          </dd>
        </dl>
      </div>
    </div>
    <% else %>
    <span class="self-center text-gray-300 uppercase text-2xl">No Giving Data Available</span>
    <% end %>
    <% else %>
    <% end %>

    <div class="border-t border-gray-200 md:border-0 md:border-l">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-base leading-6 font-normal text-gray-900">
            <i class="fas fa-church"></i> Worship Attendance
          </dt>
          <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl leading-8 font-semibold text-indigo-600">
              <%= attendee_count %>
              <span class="ml-2 text-sm leading-5 font-medium text-gray-500">
                from <%= attendance_last_week %>
              </span>
            </div>
            <% if difference(attendance_last_week,attendee_count).to_i > 1 %>
              <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium leading-5 bg-green-100 text-green-800 md:mt-2 lg:mt-0">
                <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-green-500" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">
                  Increased by
                </span>
              <% else %>
                <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium leading-5 bg-red-100 text-red-800 md:mt-2 lg:mt-0">
                <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">
                  Decreased by
                </span>
              <% end %>
              <%= difference(attendance_last_week,attendee_count) %>%
            </div>
          </dd>
           <dd class="text-gray-300 mt-2">
            Number of parishioners who were checked in as having attended in-person worship
          </dd>
        </dl>
      </div>
    </div>


  </div>
</div>


<% end %>


       <!-- ADMIN USER AND NO CHURCH -->
       <% if current_user && current_user.admin && @church_count == 0 %>
         <span class="text-monospace text-info">Since you are the first user, I have made you an ADMIN. Please create your church by using the link below</span>
            <%= link_to 'Create New Church', new_church_path, :class => "nav-link" %>
       <% end %>

       <!-- ANY USER AND NO PROFILE COMPLETED -- FILL IN ALL DETAILS -->
       <% if current_user && current_user.fullname == ""%>
        <%= link_to 'Please Complete Your Profile', edit_registration_url(current_user), :class => "text-2xl text-blue-600 mb-4" %>
       <% end %>
       <!-- GENERAL INFORMATION -->
       <% if current_user && current_user.admin %>
       <p class="text-monospace text-muted mb-4">If you have any issues with CTPO, contact support @ <a href="mailto:info@lolconcepts.com">info@lolconcepts.com</a>&nbsp;&nbsp;</p>
       <%end%>

       <!-- ONLY DISPLAY IF CHURCH HAS BEEN CONFIGURED -->
       <% if  @church_count == 1 %>
          <!-- SHOW PRAYER REQUESTS FOR ADMIN USERS ONLY -->
          <% if current_user && current_user.admin %>
            <a href="/requests"><span>You have <%= @requests %> Prayer Request</span></a><br>
            <% if !@missing_members.empty? %>
              <a href="/missing"><span>You have <%= @missing_members.count %> Missing Members</span></a><br>
              <% end %>
              <% if !@stopped_giving.empty? %>
              <a href="/stopped"><span>You have <%= @stopped_giving.count %> Member<% if @stopped_giving.count > 1 %>s<% end %> who ha<% if @stopped_giving.count > 1 %>ve<% else %>s<% end %> stopped giving</span></a><br>
            <% end %>
            <% if @mediarelease_waiting.count > 0 %>
              <br>
              <h3 class="text-monospace">Click Below Link To Remind Users To Click Media Release</h3>
              <a href="/mediareminder"><i class="fas fa-video"></i> <span class="uppercase text-lg text-red-800"><%= @mediarelease_waiting.count %> Members Without Media Releases On File </span></a><br>
            <% end %>
            
              <% if !@church.custom_tithing %>
                <% if !@stopped_giving.empty? %>
                  <a href="/stopped"><span>You have <%= @stopped_giving.count %> Member<% if @stopped_giving.count > 1 %>s<% end %> who ha<% if @stopped_giving.count > 1 %>ve<% else %>s<% end %> stopped giving</span></a><br>
                <% end %>
              <% end %>
          <% end %>
          <!-- SHOW OFFERING ONLY IF USER HAS FINANCE ATTRIBUTE -->
          <% if current_user && current_user.finance %>
            <!-- ONLY SHOW IF OFFERING HAVE BEEN MADE ONLINE -->
            <% if !@church.custom_tithing %>
              <% if @offeringsToday > 0 %>
                <h3>Today's Offerings: $<%= @offeringsToday.round(2) %></h3>
                <h3>Stripe Fee's: $<%= @stripe_fees %></h3>
                <h3>Deposits: $<%= @offeringsToday - @stripe_fees %></h3>
              <% end %>
            <% end %>
          <% end %>

         <!-- ONLY ALLOW OFFERINGS IF STRIPE IS CONFIGURED -->
         <% if  @church_count == 1 && !ENV['STRIPE_SK_TEST'].nil? %>
           <p class="lead">
            <% if current_user && current_user.custom_gift != "" && current_user.custom_gift != "0" && !@church.custom_tithing %>
              <%=link_to "Give $#{current_user.custom_gift}", offering_path(:amount => current_user.custom),:class =>"btn btn-success" %>
            <% else %>
            <h3 class="mb-4 font-bold"> Always Available Options</h3>
            <% if !@church.custom_tithing %>
              <%=link_to 'Give $5', offering_path(:amount => '500'),:class =>"btn btn-success text-light" %>
              <%=link_to 'Give $10', offering_path(:amount => '1000'),:class =>"btn btn-success text-light" %>
              <%=link_to 'Give $25', offering_path(:amount => '2500'),:class =>"btn btn-success text-light" %>
              <%=link_to 'Give $50', offering_path(:amount => '5000'),:class =>"btn btn-success text-light" %>
              <%=link_to 'Give $100', offering_path(:amount => '10000'),:class =>"btn btn-success text-light" %>
              <% end %>
            <% end %>
           </p>
         <% end %>
         <% if @church.custom_tithing %>
          <%=link_to '<i class="fas fa-dollar-sign"></i> Give Online'.html_safe, @church.giving_override,:class =>"btn btn-success mt-4 text-white" %>
         <% end %>
       <% end %><!-- END OF MAKING SURE THERE IS A CHURCH -->

       <!-- OPTIONS FOR LOGGED IN USERS -->
        <% if current_user %>
        <% if !@church.nil? %>
          <% if @church.calendly_url != nil && @church.calendly_url != "" %>
          <%=link_to '<i class="fas fa-ticket-alt"></i>  RESERVE A SPOT'.html_safe, @church.calendly_url,:class =>"btn bg-orange-400 opacity-100 text-white mt-4" %>
          <% end %>
        <% end %>
        <%=link_to '<i class="fas fa-concierge-bell"></i> CHECKIN'.html_safe, "/checkin",:class =>"btn btn-primary opacity-100 text-white mt-4",:data =>{:confirm => "Are you PHYSICALLY in the building?"} %>
        <%=link_to '<i class="fas fa-pray"></i> Prayer Request'.html_safe, new_request_url,:class =>"btn btn-danger text-light opacity-100 text-white mt-4" %>
        <% if current_user.mediarelease? %>
        <%=link_to '<i class="fas fa-video"></i> Media Release ON'.html_safe, mediarelease_url,:class =>"btn btn-success text-light opacity-100 text-white mt-4" %>
        <% else %>
        <%=link_to '<i class="fas fa-video"></i> Media Release OFF'.html_safe, mediarelease_url,:class =>"btn btn-danger text-light opacity-100 text-white mt-4",:data =>{:confirm => "By Clicking This Button, You Are Allowing Your Likeness To Be Used In Media By The Church, This May Be On The Website, Facebook and Or YouTube."} %>
        <% end %>
          <!-- SHOW IF THERE ARE ANY EVENTS -->
				  <% if @events.count > 0 %>
          
          <h3 class="h3 text-center">Upcoming Events</h3>
            <% @events.each do |event| %>
            <div class="bg-warning border border-dark text-center">
              <span class="text-monospace h4"><%= event.description %></span><br>
              <%= event.cost || "Free" %><br>
              <%= event.estart.strftime("%m/%d/%Y at %I:%M%p") %><br>
            </div>
              <hr>
            <% end %>
          <% end %><!-- END OF EVENTS CHECK -->
				<% else %><!-- SHOW WHEN NOT LOGGED IN -->
        <div class="mt-4">
					<%= link_to 'Sign up', new_user_registration_path, :class => "btn btn-primary text-light" %>
					<%= link_to 'Sign In', new_user_session_path, :class => "btn btn-primary text-light" %>
        </div>
				<% end %><!-- END OF LOGGED IN USER CHECK -->
    </div>


