  <div class="jumbotron jumbotron-fluid text-center opacity-75 rounded">
       
        <% if @church %>
          <h1 class="display-4">
          <%= @church.name %>
        <% else %>
            <span class="text-monospace bg-warning">The Church has not been configured completely.</span>
        <% end %>

      &nbsp;</h1>
       <p class="display-4">Welcome ;)&nbsp;</p>
       <hr class="my-4">

       <!-- ADMIN USER AND NO CHURCH -->
       <% if current_user && current_user.admin && @church_count == 0 %>
         <span class="text-monospace text-info">Since you are the first user, I have made you an ADMIN. Please create your church by using the link below</span>
            <%= link_to 'Create New Church', new_church_path, :class => "nav-link" %>
       <% end %>

       <!-- ANY USER AND NO PROFILE COMPLETED -- FILL IN ALL DETAILS -->
       <% if current_user && current_user.fullname == ""%>
        <%= link_to 'Complete Profile', edit_registration_url, :class => "nav-link" %>
       <% end %>
       <!-- GENERAL INFORMATION -->
       <p class="text-monospace text-muted">If you have any issus with CTPO, contact support @ <a href="mailto:info@lolconcepts.com">info@lolconcepts.com</a>&nbsp;&nbsp;</p>

       <!-- ONLY DISPLAY IF CHURCH HAS BEEN CONFIGURED -->
       <% if  @church_count == 1 %>
          <!-- SHOW PRAYER REQUESTS FOR ADMIN USERS ONLY -->
          <% if current_user && current_user.admin %>
            <a href="/requests"><span>You have <%= @requests %> Prayer Request</span></a>
          <% end %>
          <!-- SHOW OFFERING ONLY IF USER HAS FINANCE ATTRIBUTE -->
          <% if current_user && current_user.finance %>
            <!-- ONLY SHOW IF OFFERING HAVE BEEN MADE ONLINE -->
            <% if @offeringsToday > 0 %>
              <h3>Today's Offerings: $<%= @offeringsToday %></h3>
              <h3>Stripe Fee's: $<%= @stripe_fees %></h3>
              <h3>Deposits: $<%= @offeringsToday - @stripe_fees %></h3>
            <% end %>
          <% end %>

         <!-- ONLY ALLOW OFFERINGS IF STRIPE IS CONFIGURED -->
         <% if  @church_count == 1 && !ENV['STRIPE_SK_TEST'].nil? %>
           <p class="lead">
            <% if current_user && current_user.custom_gift != "" %>
              <%=link_to "Give $#{current_user.custom_gift}", offering_path(:amount => current_user.custom),:class =>"btn btn-success" %>
            <% else %>
              <%=link_to 'Give $5', offering_path(:amount => '500'),:class =>"btn btn-success text-light" %>
              <%=link_to 'Give $10', offering_path(:amount => '1000'),:class =>"btn btn-success text-light" %>
              <%=link_to 'Give $25', offering_path(:amount => '2500'),:class =>"btn btn-success text-light" %>
              <%=link_to 'Give $50', offering_path(:amount => '5000'),:class =>"btn btn-success text-light" %>
              <%=link_to 'Give $100', offering_path(:amount => '10000'),:class =>"btn btn-success text-light" %>
            <% end %>
            
           </p>
         <% end %>
       <% end %><!-- END OF MAKING SURE THERE IS A CHURCH -->

       <!-- OPTIONS FOR LOGGED IN USERS -->
        <% if current_user %>
        <%=link_to '<i class="fas fa-concierge-bell"></i> CHECKIN'.html_safe, "/checkin",:class =>"btn btn-primary opacity-100 text-white mt-4" %>
          <!-- SHOW IF THERE ARE ANY EVENTS -->
				  <% if @events.count > 0 %>
          
          <h3 class="h3 text-center">Upcoming Events</h3>
            <% @events.each do |event| %>
            <div class="bg-warning border border-dark text-center">
              <span class="text-monospace h4"><%= event.description %></span><br>
              <%= event.cost || "Free" %><br>
              <%= event.estart.strftime("%m/%d/%Y at %I:%M%p") %><br>
            </div>
              <hr>
            <% end %>
          <% end %><!-- END OF EVENTS CHECK -->
				<% else %><!-- SHOW WHEN NOT LOGGED IN -->
					<%= link_to 'Sign up', new_user_registration_path, :class => "btn btn-primary text-light" %>
					<%= link_to 'Sign In', new_user_session_path, :class => "btn btn-primary text-light" %>
				<% end %><!-- END OF LOGGED IN USER CHECK -->
    </div>
<%= video_tag "church.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>

