  <div class="jumbotron jumbotron-fluid text-center">
       
        <% if @church %>
          <h1 class="display-4">
          <%= @church.name %>
        <% else %>
            <span class="text-monospace bg-warning">The Church has not been configured completely.</span>
        <% end %>

      &nbsp;</h1>
       <p class="display-4">Welcome ;)&nbsp;</p>
       <hr class="my-4">
       <% if current_user && current_user.admin && @church_count == 0 %>
       <span class="text-monospace text-info">Since you are the first user, I have made you an ADMIN. Please create your church by using the link below</span>
          <%= link_to 'Create New Church', new_church_path, :class => "nav-link" %>
       <% end %>
       <% if current_user && current_user.fullname == ""%>
        <%= link_to 'Complete Profile', edit_registration_url, :class => "nav-link" %>
       <% end %>
       <p class="text-monospace text-muted">If you have any issus with CTPO, contact support @ <a href="mailto:info@lolconcepts.com">info@lolconcepts.com</a>&nbsp;&nbsp;</p>
       <% if  @church_count == 1 %>
       <% if current_user && current_user.admin %>
      <a href="/requests"><span>You have <%= @requests %> Prayer Request</span></a>
      <% if @offeringsToday > 0 %>
        <h3>Today's Offerings: $<%= @offeringsToday %></h3>
        <h3>Stripe Fee's: $<%= @stripe_fees %></h3>
        <h3>Deposits: $<%= @offeringsToday - @stripe_fees %></h3>
      <% end %>
       <% end %>
       <% if  @church_count == 1 && !ENV['STRIPE_SK_TEST'].nil? %>

       <p class="lead">
          <%=link_to 'Give $5', offering_path(:amount => '500'),:class =>"btn btn-success" %>
          <%=link_to 'Give $10', offering_path(:amount => '1000'),:class =>"btn btn-success" %>
          <%=link_to 'Give $25', offering_path(:amount => '2500'),:class =>"btn btn-success" %>
          <%=link_to 'Give $50', offering_path(:amount => '5000'),:class =>"btn btn-success" %>
          <%=link_to 'Give $100', offering_path(:amount => '10000'),:class =>"btn btn-success" %>
       </p>
       <% end %>
       <% end %>
        <% if current_user %>
				  <% if @events.count > 0 %>
          
          <h3>Upcoming Events</h3>
            <% @events.each do |event| %>
            <div class="bg-warning rounded-pill border border-dark">
              <span class="text-monospace h2"><%= event.description %></span><br>
              <%= event.cost || "Free" %><br>
              <%= event.estart.strftime("%m/%d/%Y at %I:%M%p") %><br>
            </div>
              <hr>
            <% end %>
          
          <% end %>
				<% else %>
					<%= link_to 'Sign up', new_user_registration_path, :class => "nav-link" %>
					<%= link_to 'Sign In', new_user_session_path, :class => "nav-link" %>
				<% end %>
    </div>


