<style type="text/css">
.logo {
	position:relative;
	bottom:90;
	right:-150;
}
	
</style>
	<div class="container">
		<div class="row align-middle">
			<div class="center">
				<h2 class="text-wrap">Please Print this nametag and cut it out for the parishoner</h2>
				<div style="background-color: white; width: 5.5in; height: 4.25in; text-align: center; border: 1px solid black;">
					<br>
					<br>
					
						<div class="align-middle">
							<div><%= image_tag(@church.avatar_url, size: '100x100') if @church.avatar? %><br></div>
							<div class="h2">
								<% if @church %>	
									<%= @church.name %>
								<% else %>
									Hello... :)
								<%end%>	
							</div>
							<div class="display-2"><%= @user.fullname %></div>
							<div class="h3 text-primary"><%= @pronouns %></div>
							<div class="display-4"><%= @user.role %></div>

							
						</div>
						
				</div>
			</div>
		</div>
	</div>
		<!-- <h3>&nbsp;</h3>
	  <h3>&nbsp;</h3>
		<h5>
		<% if @church %>	
			<%= @church.name %>
			<% else %>
			<%end%>		
		</h5>
	<h1><%= @user.fullname %></h1>
	<h2><%= @user.role %></h2>
	<img src="united-methodist-church-logo-png-5.png" alt="" width="150" height="150" class="logo"/>
		<p>&nbsp;</p>
	<p>&nbsp;</p> -->
	</div>





