<div class="jumbotron">
  <div class="container text-center">
<span class="h1 text-uppercase">Offering</span>
</div>
</div>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>You are about to make an offering to <%= @church.name %>
      </h3>
    </div><!-- end of col -->
  </div><!-- end of row -->
    <div class="row">
    <div class="col">
      <% if current_user %>
        @uid = current_user.id
      <% else %>
        @uid = "9999"
      <% end %>
      <%= form_tag charge_url :amount => @offering, :id => @uid do %>
  <article>
    
    <label class="amount text-dark h1">
      <span>Amount: $<%=(@offering).to_f/100.00 %></span>
    </label>
  </article>
  <% @desc = "Offering - #{@church.name}" %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @desc %>"
          data-amount=<%=@offering %>
          data-locale="auto"></script>

<% end %>

    </div><!-- end of col -->
  </div><!-- end of row -->
</div><!-- end of container -->
