<!-- This example requires Tailwind CSS v2.0+ -->
<div class="m-4 bg-gray-100 border-dashed border-4 border-light-blue-500 p-4">
<h4 class="h4">Import User Data</h4>
<%= form_tag import_users_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Import From CSV", class: "p-4 text-blue-800 text-lg leading-4 font-medium bg-blue-100 rounded-full" %>
<% end %>
<span class="text-gray-500">The csv file must be formatted properly. [email,fname,lname,address,address2,city,state,zip,telephone,password,password_confirmation]</span>
</div>
<%= form_tag(parishioners_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
<% end %>
<span class="px-2 py-1 text-blue-800 text-xs leading-4 font-medium bg-blue-100 rounded-full"><%= link_to 'Download List','/all_users.csv' %></span>

<div class="flex-1 mb-8">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-2xl font-medium text-gray-500 uppercase tracking-wider">
                Name
              </th>
              <th scope="col" class="px-6 py-3 text-left text-2xl font-medium text-gray-500 uppercase tracking-wider">
                Contact Details
              </th>
              <th scope="col" class="px-6 py-3 text-left text-2xl font-medium text-gray-500 uppercase tracking-wider">
                Status
              </th>
              <th scope="col" class="px-6 py-3 text-left text-2xl font-medium text-gray-500 uppercase tracking-wider">
                Role
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr>
              <% if @users.count > 0 %>
              <% @users.each do |u| %>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="flex-shrink-0 h-20 w-20">
                    <% if u.avatar? # check picture %>
        <%= image_tag u.avatar_url , class: 'w-20 h-20 flex-shrink-0 mx-auto bg-black rounded-full' %>
        
      
      <% else %>
        <%= image_tag "no_photo.jpg", class: 'w-20 h-20 flex-shrink-0 mx-auto bg-black rounded-full' %>
       

      <% end %>
                  </div>
                  <div class="ml-4">
                    <div class="text-2xl font-medium text-gray-900">
                      <% if u.pronouns == "(Prefer Not To Use)" %>
                        <%= link_to(u.fullname, impersonate_user_path(u), method: :post, :class =>"font-bold") %> <span class="px-2 py-2 inline-flex text-2xl leading-5 font-semibold rounded-full bg-blue-100 text-blue-800 hover:no-underline">
                  <%= link_to 'Print Name Tag', nametag_path(:uid => u.id) %>
                </span>
                      <% else %>
                        <%= link_to(u.fullname, impersonate_user_path(u), method: :post, :class =>"font-bold") %> <%= u.pronouns %> <span class="px-2 py-2 inline-flex text-2xl leading-5 font-semibold rounded-full bg-blue-100 text-blue-800 hover:no-underline">
                  <%= link_to 'Print Name Tag', nametag_path(:uid => u.id) %>
                      <% end %>
                    </div>
                    <div class="text-2xl text-gray-500">
                      <% if u.spouse == nil %>
                      Spouse: none.<br/>
                      <% else %>
                      Spouse: <%= u.spouse %><br/>
                      <% end %>
                      <% if u.children == nil %>
                      Children: none.
                      <% else %>
                      Children: <%= u.children %>
                      <% end %>
                      <% if u.skill == nil || u.skill == "" %>
                      <br/>
                      Skills: none.
                      <% else %>
                      <br/>
                      Skills: <%= u.skill %>
                      <% end %>
                      <% if u.mediarelease? %>
                        <br>
                          <i class="fas fa-video"></i>
                      <% else %>
                        <br>
                          <i class="fas fa-video-slash"></i>
                      <% end %>
                      <% if u.admin %>
                          <%= link_to 'Remove Admin', adminify_path(:id => u.id) %> 
                        <% else %>
                          <%= link_to 'Make Admin', adminify_path(:id => u.id) %>
                        <% end %>
                        |
                        <% if u.finance %>
                          <%= link_to 'Remove Finance', financify_path(:id => u.id) %>
                        <% else %>
                          <%= link_to 'Make Finance', financify_path(:id => u.id) %>
                         <% end %> |
                         <%= link_to 'Delete User', admin_destroy_user_path(u), method: :delete, data: { confirm: "You sure, you want to delete #{u.fullname}?" } %>
                    </div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <% if u.admin || u.finance %>
            <% if u.admin %>
            <span class="px-2 py-1 text-blue-800 text-lg leading-4 font-medium bg-blue-100 rounded-full">Admin</span>
            <% end %>
            <% if u.finance %>
            <span class="px-2 py-1 text-green-800 text-lg leading-4 font-medium bg-green-100 rounded-full">Finance</span>
            <% end %>
          <% else %>
          <span class="px-2 py-1 text-orange-800 text-lg leading-4 font-medium bg-orange-100 rounded-full">User</span>
          <% end %>
                <div class="text-2xl text-gray-500"><%= u.pretty_address %></div>
                <div class="text-2xl text-gray-900">
                   <a href=tel:<%= number_to_phone(u.telephone) %>><%= number_to_phone(u.telephone) %></a>

                   | <%= mail_to u.email, u.email %></div>
                   <div class="text-uppercase text-blue-800 text-2xl font-bold">How Heard About Us:<%= u.how_heard %></div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <% if u.status == "Active" %>
                 <span class="px-2 inline-flex text-2xl leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  <%= u.status %>
                </span>
                <% else %>
                 <span class="px-2 inline-flex text-2xl leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                  <%= u.status %>
                </span>
                <% end %>
               
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-2xl text-gray-500">
                <% if u.role == "" %>
                  <dd class="text-gray-500 text-2xl leading-5">Parishioner</dd>
                <% else %>
                  <dd class="text-gray-500 text-2xl leading-5"><%= u.role %></dd>
                <% end %>
              </td>
              <td><%= link_to 'Edit', "/users/edit/#{u.id}" %></td>
             
            </tr>
            <% end %>
            <% end %>
            <!-- More items... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>