<!DOCTYPE html>
<html>
  <head>
    <title>CTPO - <%= name %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('apple-touch-icon.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
       <div class="navbar-brand"><%=image_tag('apple-touch-icon.png',size: '75x75',:class => "bg-transparent mr-2 rounded")%>Church 2.0&nbsp;</div>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item">
                <%=link_to 'Home <span class="sr-only"></span>'.html_safe,root_url,:class => "nav-link"  %>
             </li>
             <% if current_user && current_user.finance %>
               <li class="nav-item">
                  <%=link_to 'Offerings List','/offerings',:class => "nav-link"  %>
               </li>
             <% end %>
             <% if current_user && current_user.admin %>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Administration
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                   
                   <%=link_to 'Show Parishoners','/all_users',:class => "dropdown-item"  %>
                   <%=link_to 'Create New Event',new_event_url,:class => "dropdown-item"  %>
                   <div class="dropdown-divider"></div>
                   <%=link_to 'Edit Church Info',edit_church_url(1),:class => "dropdown-item"  %>
                   <% if current_user && current_user.finance %>
                   <a class="dropdown-item" href="/offerings">View Online Giving</a>
                   <% end %>
                   <a class="dropdown-item" href="/card">Print Offering Cards</a>
                   <a class="dropdown-item" href="/sucard">Print Sign-up Card</a>
                   <a class="dropdown-item" href="/messages">Notification Center</a>
                </div>
             </li>
             <%end%>
             <% if current_user %>
              <li class="nav-item">
                
             </li>
             <% end %>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarGive" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Give
                </a>
                <% if  @church_count == 1 && !ENV['STRIPE_SK_TEST'].nil? %>
                <div class="dropdown-menu" aria-labelledby="navbarGive">
                   <%=link_to 'Give $5', offering_path(:amount => '500'),:class => "dropdown-item" %>
                   <%=link_to 'Give $10', offering_path(:amount => '1000'),:class => "dropdown-item" %>
                   <%=link_to 'Give $25', offering_path(:amount => '2500'),:class => "dropdown-item" %>
                   <%=link_to 'Give $50', offering_path(:amount => '5000'),:class => "dropdown-item" %>
                   <%=link_to 'Give $100', offering_path(:amount => '10000'),:class => "dropdown-item" %>
                </div>
                <% end %>
             </li>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarOptions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
                </a>
                <% if  @church_count == 1 %>
                <div class="dropdown-menu" aria-labelledby="navbarOptions">
                   <%=link_to 'Prayer Request',new_request_url,:class => "dropdown-item"  %>
                   <% if current_user %>
                   <%= link_to 'Edit', edit_user_registration_url, :class => "dropdown-item" %>
                   <% end %>
                </div>
                <% end %>
             </li>
            
          </ul>
          <% if current_user && current_user.fullname %>
                <% if current_user.admin %>
                <%= link_to "Logged in as #{current_user.fullname} <span class='badge badge-primary'>Administrator</span>".html_safe, destroy_user_session_path, method: :delete, :class => "navbar-text" %>
                <% else %>
                <%= link_to "Logged in as #{current_user.fullname}", destroy_user_session_path, method: :delete, :class => "navbar-text" %>
                <% end %>
                 <% if current_user.finance %>
                  <span class="badge badge-success"> Finance Team</span>
                <% end %>
                
              <% end %>
       </div>
    </nav>
    <div class="container-fluid">
      
        <%= yield %>
      
    </div>
  </body>
</html>
