<!DOCTYPE html>
<html>
  <head>
    <title><%= name %> - powered by Church2.0</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">
    <%= favicon_link_tag asset_path('apple-touch-icon.png'), :rel => 'icon', :type =>  'image/png' %>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style type="text/css">
      .home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('https://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
.navbar-brand{
    height:95px;
}
.navbar-text{
  float: right;
}
.navbar-nav{
  margin: 5px;
}
    </style>

  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
       <div class="navbar-brand">
        <% if @church && @church.logo? %>
          <%=image_tag(@church.avatar.url ,size: '64x64',:class => "bg-transparent mr-2 rounded")%>
        <% else %>
          <%=image_tag('apple-touch-icon.png',size: '64x64',:class => "bg-transparent mr-2 rounded")%>
        <% end %>
        <% if @church %>
          <h1 class="text-lg mt-2">
          <%= @church.name %> 
          <% if @version %>
            - v<%=@version%>
          <% end %>
        <% else %>
            <span class="text-monospace bg-warning">The Church has not been configured completely.</span>
        <% end %>
       &nbsp;</div>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item">
                <%=link_to 'Home <span class="sr-only"></span>'.html_safe,root_url,:class => "nav-link"  %>
             </li>
             <% if current_user && current_user.finance && !@church.custom_tithing %>
               <li class="nav-item">
                  <%=link_to 'Offerings List','/offerings',:class => "nav-link"  %>
               </li>
             <% end %>
             <% if current_user && current_user.admin %>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Administration
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                   <%=link_to '<i class="fab fa-cc-stripe"></i> Stripe (Payment Processor)'.html_safe,'https://dashboard.stripe.com',:class => "dropdown-item"  %>
                   <%=link_to '<i class="far fa-calendar"></i> Calendly (Scheduling)'.html_safe,'https://www.calendly.com',:class => "dropdown-item"  %>
                   <div class="dropdown-divider"></div>
                   <%=link_to '<i class="fas fa-concierge-bell"></i> Check-ins'.html_safe,'/checkins',:class => "dropdown-item"  %>
                   <%=link_to ' <i class="fas fa-users"></i> Show Parishoner List'.html_safe,'/parishioners',:class => "dropdown-item"  %>
                   <%=link_to ' <i class="fas fa-pray"></i> Active Prayer Requests'.html_safe,'/requests',:class => "dropdown-item"  %>
                   <%=link_to '<i class="far fa-calendar-plus"></i> Create New Event'.html_safe,new_event_url,:class => "dropdown-item"  %>
                   <div class="dropdown-divider"></div>
                   <%=link_to '<i class="fas fa-boxes"></i> Inventory'.html_safe,inventories_path,:class => "dropdown-item"  %>
                   <div class="dropdown-divider"></div>
                   <%=link_to '<i class="fas fa-church"></i> Edit Church Info'.html_safe,edit_church_url(1),:class => "dropdown-item"  %>
                   <% if current_user && current_user.finance %>
                   <a class="dropdown-item" href="/offerings">View Online Giving</a>
                   <% end %>
                   <a class="dropdown-item" href="/card"><i class="fas fa-wallet"></i> Print Offering Cards</a>
                   <a class="dropdown-item" href="/sucard"><i class="fas fa-user-plus"></i> Print Sign-up Card</a>
                   <a class="dropdown-item" href="/messages"><i class="fas fa-sms"></i> Notification Center</a>
                </div>
             </li>
             <%end%>
             <% if  @church_count == 1 && !ENV['STRIPE_SK_TEST'].nil? && !@church.custom_tithing %>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarGive" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Give
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarGive">
                   <%=link_to 'Give $5', offering_path(:amount => '500'),:class => "dropdown-item" %>
                   <%=link_to 'Give $10', offering_path(:amount => '1000'),:class => "dropdown-item" %>
                   <%=link_to 'Give $25', offering_path(:amount => '2500'),:class => "dropdown-item" %>
                   <%=link_to 'Give $50', offering_path(:amount => '5000'),:class => "dropdown-item" %>
                   <%=link_to 'Give $100', offering_path(:amount => '10000'),:class => "dropdown-item" %>
                </div>
             </li>
             <% end %>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarOptions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
                </a>
                <% if  @church_count >= 1 %>
                <div class="dropdown-menu" aria-labelledby="navbarOptions">
                   <%=link_to '<i class="fas fa-pray"></i> Prayer Request'.html_safe,new_request_url,:class => "dropdown-item"  %>
                   <% if current_user %>
                   <%= link_to '<i class="fas fa-user-edit"></i> Edit'.html_safe, edit_user_registration_url, :class => "dropdown-item" %>
                   <% end %>
                </div>
                <% end %>
             </li>
            
          </ul>
          
          <!-- Show Logout link and badges-->
          <% if current_user != true_user %>
            <%= link_to "Back to admin", stop_impersonating_users_path, method: :post, :class => "text-gray-100 uppercase mr-2" %>
            <span class="text-gray-100 mr-2"><<<</span>
          
          <% end %>
          <% if current_user && current_user.fullname %>
            <%= link_to "Logged in as #{current_user.fullname}", destroy_user_session_path, method: :delete, :class => "navbar-text" %>
            <div class="navbar-text">
                <% if current_user.admin %>
                  <span class='badge bg-info text-dark ml-2'>Administrator</span>
                <% end %>
                 <% if current_user.finance %>
                  <span class="badge bg-success ml-2">Finance Team</span>
                 <% end %>      
          <% end %>
        </div>
       </div>
    </nav>
    
    <div class="container-fluid">
          <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
        <%= yield %>
      
    </div>
    <div class="modal"><!-- Place at bottom of page --></div>
    
  
  </body>
 <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
        <!--
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a> -->
      <%= @church.muted_social %>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-church"></i> <%= @church.name %>
          </h6>
          <p>
            <%= @church.pretty_address %></br>
            <%= @church.pretty_phone %>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- 
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
          Links -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- 
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
          Links -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> <%= @church.pretty_address %></p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            <%= @church.email %>
          </p>
          <p><i class="fas fa-phone me-3"></i><%= @church.pretty_phone %></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © <%= Time.current.year %>
    <a class="text-reset fw-bold" href="https://lolconcepts.com/">LOLCONCEPTS.COM</a> | <a class="text-xs text-monospace text-gray-500" href="https://icons8.com/icon/13963/twitter">Icons by Icons8</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</html>
